input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

header {
    background-color: orange;
}

body {
    padding-top: 80px;
    height: 100%;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

input[type=number] {
    -moz-appearance: textfield;
}

.body {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.fancyInput {
    border: 0 solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 7em;
}

.lessFancyInput {
    border: 0 solid;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px black;
    width: 12em;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.budget_items {
    top: 0;
    padding: 20px;
    background: white;
}

.column {
    padding: 10px;
    padding-top: 30px;
    width: 10cm;
    height: auto;
}

.row {
    height: auto;
    padding: 10px;
}

.color_selector {
    width: auto;
    font-size: 12px;
    background-color: Orange
}

img {
  display: block;
  max-width:250px;
  max-height:100px;
  width: auto;
  height: auto;
}


/*
References

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_arrow_number

https://www.codeproject.com/Questions/1164563/Change-background-color-using-radio-button

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown

https://www.w3schools.com/howto/howto_js_tabs.asp

*/