input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	{
		-webkit-appearance: none;
		margin: 0;
	}

header
{

	position: absolute;
	top: 0;
	background-color:orange;
    height: 80px;
	width:100%;

}

body
{
	padding-top: 80px;
	height: 100%;
	width:100%;
	div {display: inline-block}
	.onLeft {width: 30%}
	.onCenter {width: 40%}
	.onRight {width: 30%}
}

footer
{
	position: absolute;
	bottom:0;
	width: 100%;
	height: 2.5rem;
}
input[type=number]
{
	-moz-appearance: textfield;
}

#fancyInput
{
	border: 0 solid;
	padding: 10px;
	border-radius:10px;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	width: 7em;
}

*{
	box-sizing:border-box;
 }

 .column
 {
	float: left;
	width: 33.33%;
	padding: 10px;
	height: auto;
 }

 .row:after
 (
	content: ""
	display: table;
	clear: both;
 }
 .row
 {
	float: left;
	width: 33.33%;
	height: auto;
	position: relative;
	padding: 10px;
 }


/*
References

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_arrow_number

https://www.codeproject.com/Questions/1164563/Change-background-color-using-radio-button

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown

*/
