input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

header {
    background-color: orange;
    width: 100%; 
    
}
html,body{
    min-height: 100vh;
}
body{
    background-color: rgb(236, 236, 236);
}
.body {
    height: 100%;
    padding-left: 0.1cm;
    padding-bottom: 0.1cm;
   /*width: 10cm;*/
   display: grid;
   justify-items: center;
   box-shadow: 0px 0px 10px grey;
    background-color: #fff;
}
.background{
    
    height: 100%;
    display: grid;
    justify-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}



.top{
    margin: 1cm;
    display: grid;
    row-gap: 0.3cm;

}
.fancyInput {
    border: 0 solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 7em;
}

.lessFancyInput {
    border: 0 solid;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px black;
    width: 12em;
}

.budget_items {
    top: 0;
    padding: 20px;
    background: white;
}
.intro{
    text-align: center;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
}
.column {
    padding: 10px;
    padding-top: 30px;
    width: 10cm;
    height: auto;
}



.row {
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 0.1cm;
}
.edit_name{
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.color_selector {
    width: auto;
    font-size: 12px;
    background-color: Orange
}
.total_cost_container{
    display: grid;
    justify-items: center;
}

/*
References

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_arrow_number

https://www.codeproject.com/Questions/1164563/Change-background-color-using-radio-button

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown

*/